$color_1: #333333;
$color_2: #f3f3f3;
$color_3: #fff9f9;
$color_4: #ffffff;
$font-family_1: 'Roboto', sans-serif;
$background-color_1: #d1891c;
$background-color_2: #00669f;
$background-color_3: #f3f3f3;
$w_2056: 2056px;