@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
    font-weight: 400;

}

body {
    width: 1024px;

}

main {
    background-color: #e5e5e5;

}

.banner {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;
}

.banner li {
    padding: 7px;
}
.banner_inferior {
    display: flex;
    justify-content: space-between;
    background-color: #222222;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 150px;
    
}

.logo_pizza_inferior {
    height: 90%;
}

.texto li {
    padding: 5px;
    font-size: 16px;
    font-weight: 700;
}

.logos {
    display: flex;
    align-items: center;
}

.lista {
    display: flex;
    align-items: center;
    color: #f3f3f3;
    padding: 15px;
}

.logo_pizza {
    width: 92px;
    height: 80px;
    padding: 10px;
}

.principal {
    height: 460px;
    display: flex;

}

.texto_over {
    font-weight: 700;
    font-size: 24px;
    color: #fc200c;
    position: absolute;
    top: 155px;
    left: 38.98px
}

#shop{
    color: #FFFFFF
}

#foto_moto {
    width: 490px;
    height: 370px;
    margin-top: 45px;
}

#pizza_falling {
    width: 92px;
    height: 129px;
}

.section1 {
    width: 490px;
    height: 370px;
    margin-left: 5px;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 10px;
}

.section2 {
    width: 490px;
    height: 370px;
    background-color: #FFFFFF;
    padding-top: 20px;
    margin-left: 5px;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 10px;
}

.texto {
    font-weight: 700;
    font-size: 16px;
    padding: 30px;
}

.texto p {
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    color: #fc200c;
    text-align: center;
}

.section_interior {
    width: 491px;
    height: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 30px;
}

footer {
    display: flex;
    background-color: #000000;
    color: #f3f3f3;
    padding: 30px;
}

ul {
    list-style: none;
}

#logo_inferior {
    padding: 20px;
    
}

.li_promo {
    padding: 7px;
}

#lista_promo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
}